/***** FADE IN SECTION ****/
/**************************/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 2.5s;
}

@keyframes fade-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-from-top {
  animation: fade-in-from-top 2.5s;
}

/***** Rotation des fleurs *****/
/*******************************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after,
.story h2::after,
#nomination::after,
#nomination::before {
  animation: rotate 10s linear infinite;
}

/***** Effet d'apparition des titres *****/
/*****************************************/
.animate-section-title {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2.5s ease;
  display: block;
}

.section-title-visible {
  opacity: 1;
  transform: translateY(0);
}

/****** HERO HEADER ******/
/******* PARALLAX ********/
@keyframes floatAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -10px);
  }
  50% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(-10px, 10px);
  }
}
.parallax-title {
  z-index: 1;
  position: absolute;
  width: 680px;
  height: 480px;
}

.banner {
  position: relative;
  overflow: hidden;
}
.banner img {
  width: 680px;
  height: 480px;
  animation: floatAnimation 2.5s infinite linear;
}

.hero-video {
  position: absolute;
  max-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** Characters carousel *****/
/*******************************/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/***** Section nomination *****/
/*****************************/
#nomination {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 165px;
  z-index: 1;
}
#nomination::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: -5em;
  top: -3em;
}
#nomination::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 18em;
}

.nomination-title {
  width: 700px;
  height: 250px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: #FFF5E9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-image: url("../assets/images/orange-title.png");
  background-position: center;
  padding-top: 45px;
  padding-left: 60px;
}

.nomination-image {
  width: 260px;
  height: 129px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-right: 70px;
}

/*********** FOOTER ***********/
/*****************************/
.site-footer::before {
  display: none;
}
.site-footer::after {
  display: none;
}/*# sourceMappingURL=styles.css.map */