main {
  overflow: hidden;
}

/***** FADE IN SECTION ****/
/**************************/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 2.5s;
}

@keyframes fade-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-from-top {
  animation: fade-in-from-top 2.5s;
}

/***** Rotation des fleurs *****/
/*******************************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after,
.story h2::after,
#nomination::after,
#nomination::before {
  animation: rotate 10s linear infinite;
}

#studio h2::after {
  width: 109px;
  height: 109px;
}

.story h2::after {
  width: 154px;
  height: 154px;
}

/***** Effet d'apparition des titres *****/
/*****************************************/
.animate-section-title {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2.5s ease;
  display: block;
}

.section-title-visible {
  opacity: 1;
  transform: translateY(0);
}

/***** MENU BURGER *****/
/***********************/
.site-header .main-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .navigation-center {
  flex-grow: 1;
  text-align: center;
  margin-right: -7em;
}
.site-header .navigation-right {
  display: flex;
  align-items: center;
  margin-right: 5em;
}
.site-header .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: transform 0.3s;
}
.site-header .burger-icon.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.site-header .burger-icon.active span:nth-child(2) {
  opacity: 0;
}
.site-header .burger-icon.active span:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Sidenav menu */
.sidenav {
  visibility: hidden;
  height: 0;
  width: 100%;
  max-width: 1440px;
  position: fixed;
  z-index: 1;
  top: 60px;
  background-color: #FFF5E9;
  overflow: hidden;
  transition: opacity 2.5s ease;
}
.sidenav a {
  text-decoration: none;
  font-size: 4em;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  text-shadow: 0 0 15px orangered;
}
.sidenav a .animate-section-link {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2.5s ease;
  display: block;
}
.sidenav a .section-link-visible {
  opacity: 1;
  transform: translateY(0);
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sidenav ul p {
  margin-top: 175px;
}
.sidenav img {
  margin-top: 50px;
  width: 155px;
  height: 95px;
}
.sidenav.active {
  height: calc(100% - 60px);
  visibility: visible;
  opacity: 1;
}
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.sidenav .cat {
  width: 150px;
  height: auto;
  animation: floatAnimation 2.5s infinite linear;
}
.sidenav .cat1 {
  position: absolute;
  bottom: 7em;
  left: 5em;
}
.sidenav .cat2 {
  position: absolute;
  top: 3em;
  left: 20em;
}
.sidenav .cat3 {
  position: absolute;
  bottom: 23em;
  right: 15em;
}
.sidenav .flower {
  animation: rotate 10s linear infinite;
}
.sidenav .sunflower {
  position: absolute;
  width: 216px;
  height: auto;
  top: 1em;
  right: 13em;
}
.sidenav .orchid {
  position: absolute;
  width: 172px;
  height: auto;
  top: 0em;
  left: -4em;
}
.sidenav .random_flower {
  position: absolute;
  width: 75px;
  height: auto;
  top: 20em;
  right: -2em;
}
.sidenav .flowers {
  position: absolute;
  width: 70px;
  height: auto;
  bottom: 28em;
  left: 15em;
}
.sidenav .hibiscus_footer {
  position: absolute;
  width: 626px;
  height: auto;
  bottom: -23em;
  right: -23em;
}

/***** HERO HEADER *****/
/******* PARALLAX ******/
@keyframes floatAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -10px);
  }
  50% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(-10px, 10px);
  }
}
.parallax-title {
  z-index: 1;
  position: absolute;
  width: 680px;
  height: 480px;
}

.banner {
  position: relative;
  overflow: hidden;
}
.banner img {
  width: 680px;
  height: 480px;
  animation: floatAnimation 2.5s infinite linear;
}

.hero-video {
  position: absolute;
  max-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** Characters carousel *****/
/*******************************/
.swiper-container {
  width: 1266px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 150px;
  overflow: hidden;
}

.swiper-slide {
  background-size: cover;
  width: 300px;
  height: 300px;
}

.story #characters h3 {
  background-position: left;
  text-align: left;
  margin-left: 100px;
  padding-left: 45px;
}
.story #characters div {
  flex: none;
}

/***** Section Le Lieu *****/
/***************************/
.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
}
.story #place .little-cloud {
  position: absolute;
  width: 142px;
  height: 55px;
  filter: blur(5px);
  left: 50%;
  top: 79%;
  z-index: 1;
}
.story #place .big-cloud {
  position: absolute;
  width: 316px;
  height: 122px;
  filter: blur(5px);
  left: 75%;
  top: 70%;
  z-index: 1;
}
.story #place h3 {
  z-index: 2;
}

/***** Section nomination *****/
/******************************/
#nomination {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 165px;
  z-index: 1;
}
#nomination::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: -5em;
  top: -3em;
}
#nomination::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 18em;
}

.nomination-title {
  width: 700px;
  height: 250px;
  font-size: 3em;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: #FFF5E9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-image: url("../assets/images/orange-title.png");
  background-position: center;
  padding-top: 45px;
  padding-left: 60px;
}

.nomination-image {
  width: 260px;
  height: 129px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-right: 70px;
}

/***** FOOTER *****/
/******************/
.site-footer::before {
  display: none;
}
.site-footer::after {
  display: none;
}

/*************************/
/***** MEDIA QUERIES *****/
/*************************/
/***** HEADER *****/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .site-header .navigation-center {
    margin-right: -3em;
  }
  .site-header .navigation-center .site-title {
    font-size: small;
  }
  .site-header .navigation-right {
    margin-right: 1em;
  }
  .sidenav {
    top: 0px;
  }
  .sidenav a {
    text-align: center;
    font-size: 3em;
  }
  .sidenav img {
    margin-top: 80px;
  }
  .sidenav.active {
    height: 100%;
  }
  .sidenav .cat1,
  .sidenav .cat2,
  .sidenav .cat3,
  .sidenav .sunflower,
  .sidenav .orchid,
  .sidenav .random_flower,
  .sidenav .flowers,
  .sidenav .hibiscus_footer {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Sidenav menu */
  .sidenav .cat2 {
    left: 10em;
  }
  .sidenav .cat3 {
    right: 7em;
  }
  .sidenav .sunflower {
    right: 2em;
  }
  .sidenav .flowers {
    left: 8em;
  }
}
/***** BANNER *****/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-video {
    display: none;
  }
  .parallax-title {
    width: 280px;
    height: 180px;
  }
  .banner {
    min-height: 400px;
  }
  .banner img {
    width: 280px;
    height: 180px;
  }
}
/***** CHARACTERS *****/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .swiper-container {
    width: 300px;
    margin-left: 15px;
  }
  .swiper-slide {
    width: 150px;
    height: 150px;
  }
  .story #characters h3 {
    background-position: center;
    background-size: 100% 120%;
    margin-left: 0px;
    line-height: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .swiper-container {
    width: 700px;
    margin-left: 15px;
  }
  .swiper-slide {
    width: 150px;
    height: 150px;
  }
  .story #characters h3 {
    background-position: left;
    background-size: 60% 100%;
    text-align: left;
    margin-left: 0px;
    line-height: 1em;
    padding-left: 60px;
  }
}
/***** PLACE *****/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .story #place h3 {
    white-space: nowrap;
  }
  .story #place .little-cloud {
    display: none;
  }
  .story #place .big-cloud {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  .story #place .little-cloud {
    width: 100px;
    height: 30px;
    left: 65%;
    top: 77%;
  }
  .story #place .big-cloud {
    width: 200px;
    height: 100px;
    left: 73%;
    top: 68%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .story #place .little-cloud {
    width: 100px;
    height: 30px;
    left: 65%;
    top: 78%;
  }
  .story #place .big-cloud {
    width: 200px;
    height: 100px;
    left: 75%;
    top: 70%;
  }
}
/***** STUDIO *****/
@media only screen and (min-width: 320px) and (max-width: 425px) {
  #studio h2 {
    background-size: 100% 120%;
    line-height: 35px;
  }
}
/***** OSCAR *****/
@media only screen and (min-width: 320px) and (max-width: 425px) {
  #nomination {
    flex-direction: column;
    margin-top: 15px;
    margin-left: 0px;
  }
  #nomination::before {
    display: none;
  }
  #nomination::after {
    display: none;
  }
  .nomination-title {
    width: 100%;
    font-size: 2em;
    line-height: 30px;
    background-size: 100% 100%;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  #nomination {
    margin-left: 15px;
  }
  #nomination::before {
    display: none;
  }
  #nomination::after {
    display: none;
  }
  .nomination-title {
    width: 100%;
    font-size: 2em;
    line-height: 35px;
    background-size: 100% 100%;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  #nomination {
    margin-left: 100px;
  }
  .nomination-title {
    width: 100%;
    font-size: 2em;
    padding-left: 80px;
  }
}/*# sourceMappingURL=styles.css.map */